@font-face {
  font-family: "Orbitron";
  src: url(/multimedia/fonts/Orbitron-Black.ttf);
}
@font-face {
  font-family: "Jura";
  src: url(/multimedia/fonts/Jura-VariableFont_wght.ttf);
}
/**
 *
 * _PAGE
 *
 */
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0 auto;
  /*debug*/
}
@media only screen and (min-width: 992px) {
  body {
    background-image: url("/multimedia/img/bg-powergames.jpg"); /* Reemplaza 'ruta-a-tu-imagen.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
body main {
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
  /* Large devices (laptops/desktops, 992px and up) */
  /* Extra large devices (large laptops and desktops, 1200px and up) */
}
@media only screen and (max-width: 599px) {
  body main {
    background-color: #eac435;
  }
}
@media only screen and (min-width: 600px) {
  body main {
    background-color: hsl(304, 100%, 90%);
  }
}
@media only screen and (min-width: 768px) {
  body main {
    background-color: #03cea4;
  }
}
@media only screen and (min-width: 992px) {
  body main {
    background-color: #f08b82;
  }
}
@media only screen and (min-width: 1200px) {
  body main {
    background-color: #d0ccd0;
  }
}

.page {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  width: 100%;
  max-width: 1300px;
  /* Extra small devices (phones, 600px and down) */
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
  /* Large devices (laptops/desktops, 992px and up) */
  /* Extra large devices (large laptops and desktops, 1200px and up) */
}
.page header {
  width: 100%;
  order: 1;
  flex-grow: 1;
}
.page main {
  width: 100%;
  height: 100%;
  order: 2;
  flex-grow: 8;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.page main h1,
.page main h2,
.page main h3 {
  font-family: "Orbitron", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.page main h1 {
  text-align: center;
  font-size: 2rem;
  color: rgb(0, 0, 0);
}
.page main h2 {
  text-align: center;
  font-size: 1.8rem;
  color: rgb(45, 0, 61);
  background-color: rgba(255, 255, 255, 0.3);
  padding: 4px;
}
.page main h3 {
  text-align: center;
  font-size: 1.6rem;
  color: rgb(45, 0, 61);
  background-color: rgba(255, 255, 255, 0.3);
  padding: 4px;
}
@media only screen and (min-width: 600px) {
  .page main h1 {
    font-size: 3rem;
  }
}
.page footer {
  flex-grow: 1;
  width: 100%;
  order: 3;
}
@media only screen and (max-width: 599px) {
  .page nav {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .page {
    background-color: hsl(304, 100%, 90%);
  }
}
@media only screen and (min-width: 768px) {
  .page {
    background-color: #03cea4;
  }
}
@media only screen and (min-width: 992px) {
  .page {
    width: 900px;
    background-color: #f08b82;
  }
}
@media only screen and (min-width: 1200px) {
  .page {
    width: 90vw;
    background-color: #d0ccd0;
  }
}

/**
 *
 * HEADER
 *
 */
header {
  height: fit-content;
  padding: 3px 1px;
  display: flex;
  align-content: stretch;
  font-family: "Orbitron", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-items: stretch;
  background: linear-gradient(180deg, rgba(116, 114, 17, 0.377) 0%, rgb(194, 0, 0) 100%);
  background-color: #c20000;
  /* Extra small devices (phones, 600px and down) */
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
  /* Large devices (laptops/desktops, 992px and up) */
  /* Extra large devices (large laptops and desktops, 1200px and up) */
}
header .title {
  display: flex;
  justify-content: center;
  row-gap: 5px;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 11px 11px 11px rgba(8, 8, 8, 0.9);
}
header .title .title-image {
  opacity: 0.7;
}
header .title .title-image img {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
}
@media only screen and (min-width: 1200px) {
  header .title .title-image {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  header .title {
    font-size: 40px;
  }
}
@media only screen and (min-width: 600px) {
  header .title {
    font-size: 45px;
  }
}
@media only screen and (min-width: 1200px) {
  header .title {
    font-size: 35px;
    text-align: center;
    background-image: url(/multimedia/img/joystick-rojo-lado-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
header .menu {
  color: rgba(255, 255, 255, 0.8);
  font-size: 35px;
  padding: 5px;
  position: relative;
}
header .menu .menu-float {
  color: white;
  font-size: 20px;
  position: absolute;
  width: 450px;
  height: 450px;
  z-index: 2;
  background-color: grey;
  top: 0;
  left: -700px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 10px;
  transition: 0.5s;
}
header .menu .menu-float a {
  padding: 5px;
}
header .menu .menu-float:hover {
  left: 0;
  transition: 0.5s;
}
header .menu .fa-bars:hover + .menu-float {
  left: 0;
}
@media only screen and (max-width: 600px) {
  header {
    flex-direction: row;
    justify-content: flex-start;
    align-content: stretch;
  }
  header .title {
    flex-grow: 5;
  }
}
@media only screen and (min-width: 600px) {
  header {
    justify-content: center;
    flex-direction: column;
  }
  header .menu {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  header {
    justify-content: space-evenly;
    gap: 0px;
    align-content: stretch;
    flex-direction: column;
  }
  header .menu {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  header {
    flex-direction: column;
  }
  header .menu {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  header {
    flex-direction: row;
    align-items: stretch;
  }
  header .menu {
    display: none;
  }
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 100%;
  border-radius: 10px;
  text-shadow: 11px 11px 11px rgba(8, 8, 8, 0.9);
}
@media only screen and (min-width: 1200px) {
  nav {
    width: 60%;
    padding: 0 10px 0 0;
  }
}
nav a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  padding: 3px;
  transition: 0.5s;
}
nav a:hover {
  text-decoration: wavy;
  transform: scale(1.2);
}

.contacto {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgb(255, 255, 255)), url(/multimedia/img/call-center.jpg);
  background-color: rgb(204, 204, 204);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  /*... desde Medium devices en adelante form a un costado */
}
@media only screen and (min-width: 768px) {
  .contacto {
    justify-content: center;
    flex-direction: row;
  }
}
.contacto .contacto__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .contacto .contacto__item {
    width: 50%;
  }
}
.contacto .contacto__img_box {
  padding: 2rem;
}
.contacto .contacto__form {
  font-family: "Jura", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem;
  text-align: justify;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}
.contacto .contacto__form form {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  /* Extra large devices (large laptops and desktops, 1200px and up) */
}
@media only screen and (min-width: 1200px) {
  .contacto .contacto__form form {
    flex-wrap: wrap;
    width: 90%;
  }
}
.contacto .contacto__form form .contacto__linea {
  flex-grow: 1;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}
@media only screen and (min-width: 1200px) {
  .contacto .contacto__form form .contacto__linea {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}
.contacto .contacto__form form .contacto__linea_control {
  box-sizing: border-box;
  flex-grow: 1;
}
.contacto .contacto__form form .contacto__linea_control_input {
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  font-family: "Jura", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}
@media only screen and (min-width: 600px) {
  .contacto .contacto__form form .contacto__linea_control_input {
    font-size: 1.8rem;
  }
}
.contacto .contacto__form form textarea.contacto__linea_control_input {
  min-height: 5rem;
}

footer {
  font-family: "Jura", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: #ccc;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}
@media only screen and (max-width: 600px) {
  footer {
    font-size: 15px;
  }
}
@media only screen and (min-width: 600px) {
  footer {
    font-size: 20px;
  }
}
footer .footer-child {
  padding: 10px;
  width: 100%;
}
footer .footer-links {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}
footer .footer-end {
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
