.column-options{
    position: relative;
    border: 1px dotted #92cce1;
    border-radius: 5px;
    padding: 0 1rem;
    display: flex;
    box-sizing: border-box;
    @media only screen and (max-width:400px) {
        justify-content: center;
        flex-direction  : column; 
        width: 100vw;
    }
    @media only screen and (min-width:401px) and (max-width:960px) {
        justify-content: space-around;
        flex-direction  : row;         
        width: 100vw;
    }
    @media only screen and (min-width:961px) {
        justify-content: center;
        width: 10rem;
        flex-direction  : column; 
    }
}
.column-options__option{
    display: flex;
    @media only screen and (max-width:400px) {
        justify-content: center;        
        flex-wrap: nowrap;
        label{
            width: 80px;
        }
    }
    @media only screen and (min-width:401px) and (max-width:960px) {
        justify-content: center;
        
    }
    @media only screen and (min-width:961px) {
        justify-content: space-around;
        label{
            width: 80px;
        }
    }
}