footer{    
    min-height      : 3rem;
    width           : 100%;
    background-color: black;
    color           : #ccc;

    margin          : 0 auto;
    bottom          : 0px;
    
}
.footer_content{
    padding         : 10px 2rem;    
    font-family     : $font-jura;    
    max-width       : 70vw;
    margin          : 0 auto;
    font-size       : 0.8rem;
}
.footer_end{
    padding         : 1rem 0 0;
    font-size       : 1rem;

}
.flex_column_container{
    display         : flex;
    flex-direction  : column;
    gap             :1rem;
    justify-content : flex-start;
}
.flex_row_container{
    display         : flex;
    flex-direction  : row;
    gap             :1rem;
    justify-content : space-between;
}