// header
header {
    // background-color : #d3d00c49;
    background: rgba(116, 114, 17, 0.377);
    background: linear-gradient(
        180deg,
        rgba(116, 114, 17, 0.377) 0%,
        rgba(194, 0, 0, 1) 100%
    );
    margin: 0 auto;
    height: 5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width:400px) {
        font-size: 1rem;
        
    }
    @media only screen and (min-width:401px) and (max-width:960px) {
        
        font-size: 2rem;
    }
    @media only screen and (min-width:961px) {
        font-size: 3rem;

    }
    font-family: $font-orbitron;
    text-shadow: $sombra;
    
    #header-logo {
        color: $blanco;//$color-rojo;
    }
    
    #header-cart-user {
        color:$blanco;
        text-shadow: $sombra;
    }
}
