nav{
    background-color: $color-rojo !important;
    div>div>ul>li{
        color: $blanco;
    }
}
.navbar-nav li a {
    font-family: $font-orbitron;
    font-size: 1rem;
}

#navbar-minimo{
    font-size: 1rem;
}
.navbar_minimo{
    @media only screen and (max-width:400px) {
        display: block;
    }
    @media only screen and (min-width:401px) {
        display: none;
    }
}