/**
 *
 * _PAGE
 *
 */
* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0 auto;
    @media only screen and (min-width: 992px) {
        background-image: url("/multimedia/img/bg-powergames.jpg"); /* Reemplaza 'ruta-a-tu-imagen.jpg' con la ruta de tu imagen */
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    main {
        @media only screen and (max-width: 599px) {
            background-color: #eac435;
        }
        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (min-width: 600px) {
            background-color: hsl(304, 100%, 90%);
        }

        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
            background-color: #03cea4;
        }

        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
            background-color: #f08b82;
        }

        /* Extra large devices (large laptops and desktops, 1200px and up) */
        @media only screen and (min-width: 1200px) {
            background-color: #d0ccd0;
        }
    } /*debug*/
}
.page {
    margin: 0 auto;
    // top: 0;
    // bottom: 0;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;

    header {
        width: 100%;
        order: 1;
        // border: 1px solid red;
        flex-grow: 1;
    }

    main {
        width: 100%;
        height: 100%;
        order: 2;
        // border: 1px solid blue;
        flex-grow: 8;
        display: flex;
        align-items: stretch;
        flex-direction: column;
        font-family: $font-jura;
        h1,
        h2,
        h3 {
            font-family: $font-orbitron;
        }

        h1 {
            text-align: center;
            font-size: 2rem;
            color: rgba(0, 0, 0, 1);
        }
        h2 {
            text-align: center;
            font-size: 1.8rem;
            color: rgba(45, 0, 61);
            background-color: rgba(255, 255, 255, 0.3);
            padding: 4px;
        }
        h3 {
            text-align: center;
            font-size: 1.6rem;
            color: rgba(45, 0, 61);            
            background-color: rgba(255, 255, 255, 0.3);
            padding: 4px;
        }
        @media only screen and (min-width: 600px) {
            h1 {
                font-size: 3rem;
            }
        }
    }

    footer {
        flex-grow: 1;
        width: 100%;
        order: 3;
        // border: 1px solid fuchsia;
    }
    width: 100%;
    max-width: 1300px;
    // border: 4px solid black;

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 599px) {
        // background-color: #eac435;
        nav {
            display: none;
        }
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        background-color: hsl(304, 100%, 90%);
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        background-color: #03cea4;
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        width: 900px;
        background-color: #f08b82;
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        width: 90vw;
        background-color: #d0ccd0;
    }
}
