#products{
    border: 1px dotted #92cce1;
    border-radius: 5px;
    bottom: 0;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;

    row-gap: 1rem;
    column-gap: 1rem;
    padding: 4px;
}

.products__product{
    border: 1px dotted #ccc;
    width: 13rem;
    border-radius: 10px;
    .products__product_img{
        height: 10rem;
        text-align: center;
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(145,204,222,1) 97%);
        border-radius: 10px 10px 0  0;
        img{
            height: 100%;    
        }
    }
}
.products__product_desc{
    padding: 5px;
    text-align: justify;
    font-size: 0.8rem;
}